""" Settings file for hat-collector
"""

DATABASE = 'snitch.db'

REPORT_NETWORK = 'irc.libera.chat'
REPORT_PORT = 6697
REPORT_TLS = True
REPORT_VERIFY_TLS = False
REPORT_SASL_USERNAME = 'username'
REPORT_SASL_PASSWORD = 'password'

NICKNAME = 'nick'
FALLBACK_NICKNAMES = ['nick2']
REALNAME = 'Beep Boop'

AUTHORIZED_USERS = {'user/PhantomTech'}
TRUSTED_USERS = {'wiki[pm]edia/.*'}  # "trusted" here is a lower level of trust than "authorized"

HOME_CHANNEL = '##hat-collector'

DEBUG_MODE = False
