database = 'snitch.db'

report_network = 'irc.libera.chat'
report_port = 6697
report_tls = True
report_verify_tls = False
report_sasl_username = 'username'
report_sasl_password = 'password'

nickname = 'nick'
fallback_nicknames = ['nick2']
realname = 'Beep Boop'

authorized_users = {'user/PhantomTech'}
trusted_users = {'wiki[pm]edia/.*'} # "trusted" here is a lower level of trust than "authorized" 

home_channel = '##hat-collector'

debug_mode = False